.nav-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background: #484f58;
    height: 100vh;
    width: 100vw;
    z-index: -2;
}


.nav{
    background: transparent;
    position: relative;
    height: 100vh;
    padding: 30px 10px 0px 0px;
}
.nav-items{
    margin: 40px 0px;
}

.nav-items ul{
    list-style: none;
    color: var(--stark);
    font-size: 1.5rem;
    text-align: center;
}

.nav-items ul li{
    margin: 8px auto;
    cursor: pointer;   
}

.nav-items ul li:nth-child(n){
    transform: translate(100px,0px);
    color: var(--i);
    transition: transform calc(var(--i)*0.8s);
}

.show-items ul li:nth-child(n){
    transform:translate(0px , 0px);
}

.divider{
    color: #f0f6fc;
    position: relative;
    display: flex;
    align-items: center;
    width: 200px;
    overflow: hidden;

    &::before, &::after{
        content: "";
        width: 40%;
        height: 2px;
        background: #f0f6fc;
    }
    &::before{
        left: 0;
    }
    &::after{
        right: 0;
    }

    & .span{
        display: inline-block;
        width: max-content;
        text-align: center;
        font-size: 14px;
        font-weight: 800;
        min-width: 120px;
        text-transform: uppercase;
        
    }
}

.quickContacts{
    margin-top: 20px;
    & ul{
    display: flex;
    justify-content: space-around;
        list-style: none;
    }
    & li{
        display: inline-block;
        font-size: 23px;
        height: 43px;
        width: 43px;
        border-radius: 50%;
        color: black;
        cursor: pointer;
        background-color: #f0f6fc;
    }

    & li a{
        display: inline-block;
        width: 100%;
        height: 100%;
        line-height: 23px;
        padding: 10px;
        text-decoration: none;
        color: inherit;
        transition: all 200ms ease-in-out;
    }

    

    & li:hover{
        background: #c9d1d9;
        color: #000;
    }
}

.copyright{
    position: fixed;
    bottom: 5px;
    right: 5px;
    color: #fff;
    font-size: 17px;
    font-weight: 800;
    z-index: 2;
}