
.container{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // height: fit-content;
}
.circle{
    --radius: 200px;
    width: calc(2 * var(--radius));
    height: calc(2 * var(--radius));
    background: #404040;
    border-radius: 50%;
    display: grid;
    z-index: 0;
    grid-template-areas: layer;
    animation: animate2 10s linear infinite;
}

@keyframes animate2 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.glow{
    --neon-glow: #3EDAD8;
}
.item {
    
    grid-area: layer;
    width: 40px;
    height: 40px;
    background-color: var(--neon-glow);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px black;
    position: relative;
    --d: calc(var(--i) / var(--total));
    --r-offset: -0.5turn;
    --r-amount: 1turn;
    --r: calc((var(--r-amount) * var(--d))  + var(--r-offset));
    --transform: rotate(var(--r)) translate(calc(var(--radius))) rotate(calc(-1 * var(--r)));
    transform: var(--transform);
    transition: transform 1.5s ease-in-out;
    
}
@supports (background: color(display-p3 1 1 1)) {
    @media (dynamic-range: high) {
        .glow{
            --neon-glow: color(display-p3 0 0 1);
        }
  }
}
.span{
    animation: animate 10s linear infinite reverse;
    text-align: center;
    transform-origin: center;
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
        
    }
    100%{
        transform: rotate(360deg);
    }
}
.item::after{
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    background-color: transparent;
    left: 30px;
    top: 20px;
}

.center-item{
    width: calc(var(--radius) * 1.5);
    height: calc(var(--radius) * 1.5);
    position: absolute;
    background: url('../../public/bg1.jpg'), plum;
    backface-visibility: hidden;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10px 10px 0px 10px;
    margin: auto;
    z-index: 1;
    animation: animate2 10s linear infinite reverse;
}

.center-item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
    z-index: 0;
    transition: all 100ms;
    animation: animate3 2s linear infinite forwards;
}
@keyframes animate3 {
    0%{
        filter: drop-shadow(-3px 0px 1px #fefefe98);
    }
    25%{
        filter: drop-shadow(0px -3px 1px #fefefe98);
    }
    50%{
        filter: drop-shadow(3px 0px 1px #fefefe98);
    }
    75%{
        filter: drop-shadow(0px 3px 1px #fefefe98);
    }
    100%{
        filter: drop-shadow(-3px 0px 1px #fefefe98);
    }
}

// @media only screen and (max-width: 740px) {
//     .container{
        
//     }
//     .circle{
//         --radius: 150px
//     }
//     .item {
//         height: 30px;
//         width: 30px;
//         font-size: 15px;
//     }
// }


// @media only screen and (max-width: 350px) {
//     .container{
        
        
//     }
//     .circle{
//         --radius: 100px
//     }
//     .item {
//         height: 20px;
//         width: 20px;
//         font-size: 10px;
//     }
// }

// @media only screen and (min-width: 768px) {
//     .container{
//         // padding: 90px 0px 0px 0px;
        
//     }
//     .circle{
//         --radius: 200px
//     }
//     .item {
//         height: 40px;
//         width: 40px;
//         font-size: 18px;
//     }
// }
// @media only screen and (max-width: 300px) {
    
// }

/* Extra small devices (phones, 600px and down) */
// @media only screen and (min-width: 300px) {
//     .circle{
//         --radius: 140px
//     }
//     .item {
//         height: 28px;
//         width: 28px;
//         font-size: 14px;
//     }
// }
// @media only screen and (min-width: 430px) {
    
// }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 540px) {
    .circle{
        --radius: 200px
    }
    .item {
        height: 40px;
        width: 40px;
        font-size: 18px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
    .circle{
        --radius: 150px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
            .circle{
                --radius: 130px
            }
            .item {
                height: 30px;
                width: 30px;
                font-size: 15px;
            }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .circle{
        --radius: 180px
    }
    .item {
        height: 40px;
        width: 40px;
        font-size: 18px;
    }
}

 /* Desktops */
 @media only screen and (min-width: 1441px) {
    .text-hello{
      margin-bottom: 15px;
      font-size: 1.8rem;
    }
    .text-name{
      font-size: 4.5rem;
      line-height: 5rem;
      word-spacing: 1rem;
    }
    .text-about{
      font-size: 2.5rem;
      line-height: 4rem;
      text-align: left;
      min-height: 40px;
      margin-top: 0px;
    }
    .row{
      padding: 10px 120px 10px 40px;
    }
    .left{
      width: 75%;
    }
    .right{
      display: none;
      width: 100%;
      justify-content: center;
      align-self: center;
      margin: 20px 0;
    }
    .text-paragraph{
      font-size: 1.8rem;
      line-height: 1.8rem;
      word-spacing: .3rem;
    }
    .button-container{
      margin: 0rem 0rem 0rem 0px;
      padding-bottom: 0rem;
    }
  }
  
  /* Laptops */
  @media only screen and (min-width: 1020px) and (max-width: 1440px) {
    .text-hello{
      margin-bottom: 15px;
      font-size: 1.8rem;
    }
    .text-name{
      font-size: 4.5rem;
      line-height: 5rem;
      word-spacing: 1rem;
    }
    .text-about{
      font-size: 2.5rem;
      line-height: 4rem;
      text-align: left;
      min-height: 40px;
      margin-top: 0px;
    }
    .row{
      padding: 10px 120px 10px 40px;
    }
    .left{
      width: 70%;
    }
    .right{
      display: none;
      width: 100%;
      justify-content: center;
      align-self: center;
      margin: 20px 0;
    }
    .text-paragraph{
      font-size: 1.8rem;
      line-height: 1.8rem;
      word-spacing: .3rem;
    }
    .button-container{
      margin: 0rem 0rem 0rem 0px;
      padding-bottom: 0rem;
    }
  }
  
  /* Tablets - Portrait and Landscape */
  @media only screen and (min-width: 769px) and (max-width: 1020px) {
    .text-hello{
      margin-bottom: 15px;
      font-size: 1.8rem;
    }
    .text-name{
      font-size: 4.5rem;
      line-height: 5rem;
      word-spacing: 1rem;
    }
    .text-about{
      font-size: 2.5rem;
      line-height: 4rem;
      text-align: left;
      min-height: 40px;
      margin-top: 0px;
    }
    .row{
      padding: 0px 120px 0px 40px;
    }
    .left{
      width: 50%;
    }
    .right{
      display: none;
    }
    .text-paragraph{
      font-size: 1.8rem;
      line-height: 1.8rem;
      word-spacing: .3rem;
    }
    .button-container{
      margin: 0rem 0rem 0rem 0px;
      padding-bottom: 0rem;
    }
  }
  
  /* Landscape Tablets */
  @media only screen and (min-width: 769px) and (max-width: 992px) and (orientation: landscape) {
    /* Your styles for landscape tablets here */
    .circle{
        --radius: 150px
    }
    .item {
        height: 34px;
        width: 34px;
        font-size: 17px;
    }
  }
  
  /* Mobiles - Portrait and Landscape */
  @media only screen and (max-width: 768px) {
    .circle{
        --radius: 180px
    }
  }
  
  /* Landscape Phones */
  @media only screen and (max-width: 768px) and (orientation: landscape) {
    .circle{
        --radius: 170px
    }
    .item {
        height: 34px;
        width: 34px;
        font-size: 17px;
    }
  }
  
  /* Small Phones */
  @media only screen and (max-width: 480px) {
    .circle{
        --radius: 150px
    }
    .item {
        height: 28px;
        width: 28px;
        font-size: 14px;
    }
  }
  
  /* Extra Small Phones */
  @media only screen and (max-width: 320px) {
    .circle{
        --radius: 100px
    }
    .item {
        height: 20px;
        width: 20px;
        font-size: 10px;
    }
  }
  

 