
.content{
    color: var(--stark);
    height: 100vh;
    width: 100%;
    padding: 70px 50px;
    // overflow: hidden;
    overflow-y: auto;
  }

.heading{
    font-size: 4.5rem;
    font-family: 'Alegreya Sans', sans-serif;
    margin-bottom: 1.5rem;
    font-weight: 900;
}

.text{
    font-size: 1.2rem;
    text-align: justify;
    font-family: 'Alegreya Sans', sans-serif;
    margin-bottom: 1rem;
    font-weight: 500;
}

.projects{
    width: 100%;
    min-height: 30vh;
    padding: auto 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}