.button-container{
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem 0;
}

@media only screen and (min-width: 350px) {
  .right{
    padding: 60px;
  }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 430px) {
.button-container{
  flex-direction: column;
}
}
