.button-container{
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem 0;
}

@media screen and (max-width:350px) {
  .right{
    padding: 0px 60px;
    padding-bottom: 30px;
    width: -webkit-fill-available;
  }
  .button-container{
    margin: -2rem 0rem 0rem 0px;
    padding-bottom: 0rem;
  }
}

@media only screen and (min-width: 350px) {
  .right{
    padding: 20px 60px 60px 60px;
  }
  .button-container{
    margin: -2rem 0rem 0rem 0px;
    padding-bottom: 0rem;
  }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 430px) {
.button-container{
  flex-direction: column;
}
}

@media only screen and (min-width: 681px) {
  .button-container{
    margin: -2rem 0rem 0rem 0px;
    padding-bottom: 1rem;
  }
}