
  .cube {
    width: 120px;
    height: 120px;
    position: relative;
    transform-style: preserve-3d;
  }
  
  .animation{
    animation: rotate 5s infinite linear;
  }
  
  .face {
    position: absolute;
    width: 120px;
    height: 120px;
    font-weight: 900;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: #fff;
    border: 2px solid #fff;
    background: url('../../public/bg1.jpg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
  }
  
  .front { transform: translateZ(60px);  }
  .back { transform: rotateY(180deg) translateZ(60px);  }
  .right { transform: rotateY(90deg) translateZ(60px);  }
  .left { transform: rotateY(-90deg) translateZ(60px);  }
  .top { transform: rotateX(90deg) translateZ(60px);  }
  .bottom { transform: rotateX(-90deg) translateZ(60px);  }
  
  @keyframes rotate {
    from { transform: rotateX(0) rotateY(0); }
    to { transform: rotateX(360deg) rotateY(360deg); }
  }
  