.bot{
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes hello {
    from{
        transform: translateY(0px);
    }

    to{
        transform: translateY(10px);
    }
}

.body{
    background: url(../../public/Minions-body.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 348px;
    height: 553.7px;
    transform: translateY(0px);
    animation: hello 1000ms ease-in-out infinite both alternate;
}



.eyes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.eye{
    width: 75.7px;
    height: 68px;
    border-radius: 50%;
    float: left;
    margin: 20px;
    text-align: center;

}
.balls{
    background: url(../../public/minion-eye.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 42.3px;
    width: 42.3px;
    border-radius: 50%;
}

@media only screen and (min-width: 350px) {
    .bot{
        scale: 0.5;
    }
}

@media only screen and (min-width: 740px) {
    .bot{
        scale: 1;
    }
}

@media only screen and (min-width: 992px) {
    .bot{
        scale: .8;
    }
}