.button4{
    color: var(--color);
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 4px;
    text-decoration: none;
    margin-top: 20px;
    position: relative;
    width: 100%;
    padding: 0px 15px;
    max-width: 220px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: var(--bg);
    border: 0;
    z-index: 1;
    overflow: hidden;
    border: 1px solid var(--color);
    

    &::after{
        content: "";
        position: absolute;
        background: var(--color);
        left: 0;
        top: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
        -webkit-transition: 0.3s ease-out all;
        -o-transition: 0.3s ease-out all;
        transition: 0.3s ease-out all;
        -webkit-transform: skewX(-10deg) translate3d(-105%,0,0);
        -ms-transform: skewX(-10deg) translate3d(-105%,0,0);
        transform: skewX(-10deg) translate3d(-105%,0,0);
        
    }

    &:hover{
        color: var(--overlaycolor)
       
    }

    &:hover .loader{
        border-color: var(--overlaycolor);
    }

    &:hover::after{
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    &:active{
        transform: scale(0.99);
    }
}
.loader{
    height: 20px;
    width: 20px ;
    display: inherit;
    border-radius: 100%;
    vertical-align: middle;
    border-top: 3px solid var(--color);
    border-left: 3px solid var(--color);
    
    animation: loaderrotate 1s linear infinite ;
}

@keyframes loaderrotate {
   0%{
    transform: rotateZ(0deg);
   }
  100%{
    transform: rotateZ(360deg);
  }
}