.main-div{
  background: black;
  min-height: 100vh;
  width: 100vw;
}

.background{
  height: 100vh;
  width: 100vw;
  background: black;
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  object-fit: cover;
}

.row{
  display: flex;
  justify-content: space-between;
  width: 100vw;
  position: fixed;
  user-select: none;
}

.content{
  color: var(--stark);
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 50px;
  
}
.bot{
  width: 50%;
  height: 100%;
}
.split-text{
  display: block;
  font-family: 'Alegreya Sans', sans-serif;
}

.text-name{
  font-size: 5rem;
  line-height: 4.5rem;
  text-transform: uppercase;
  font-weight: 700;
}


.text-hello{
  font-size: 2rem;
  line-height: 4rem;
  word-spacing: .5rem;
}

.text-about{
  font-size: 3rem;
  margin-top: 30px;
  // line-height: 5rem;
  word-spacing: .5rem;
}


.text-paragraph{
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 500;
  text-align: justify;
  word-wrap: break-word;
  word-spacing: .5rem;
}

.text-paragraph-l1{
  color: white;
  font-weight: 800;
}

.button{
  background: red;
  display: inline-block;
  padding: 10px 40px;
  font-size: 2rem;
  text-decoration: none;
  color: var(--void);
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 700;
  background: linear-gradient(to right, black 50%, white 50%);
  background-position: right bottom;
  transition: all .5s ease-out;
  background-size: 200% 100%;
  text-transform: uppercase;
  position: relative;

  &::after{
    content: '\0279E';
    display: inline-block;
    margin-left: 10px;
    -webkit-transition: transform 0.3s ease-out;
          -moz-transition: transform 0.3s ease-out;
          -ms-transition: transform 0.3s ease-out;
          -o-transition: transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
  }

  &:hover{
    color: white;
    background-position: left bottom;

    &:after{
      -webkit-transform: translateX(6px);
      -moz-transform: translateX(6px);
      -ms-transform: translateX(6px);
      -o-transform: translateX(6px);
      transform: translateX(6px);
    }
  }

}

.button-container{
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0px;

}


@media screen and (max-width:500px) {
  .row{
    // grid-template-columns: 1fr;
    display: flex;
    width: 100vw;
    min-height: 100vh;
  flex-direction: column;
  
  }
  .background{
    left: 0;
    top: 0;
    // object-fit: contain;
  }
  .content{
    padding: 20px;
    width: 100%;
    // height: max-content;
    // order: 2;
    // justify-content: flex-start;
  }
  .bot{
    display: none;
  }
  .text-name{
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .text-hello{
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .text-about{
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .text-paragraph{
    font-size: 1.5rem;
  }
  .button{
    padding: 10px 20px;
  font-size: 1rem;
  }
}