.split-text{
  display: block;
  font-family: 'Alegreya Sans', sans-serif;
  
}

.hiiIcon{
  display: inline-block;
  animation: helloAnimation 800ms ease-in-out 0s infinite alternate;
  transform-origin: center;
  
}

@keyframes helloAnimation {
  from{
    transform:  translateY(-5px) rotateZ(20deg);
  }
  to{
    transform: translateX(0px) translateY(-5px) rotateZ(40deg);
  }
}

.text-name{
  text-transform: uppercase;
  font-weight: 700;
}


.text-hello{
  word-spacing: .5rem;
}

.text-about{
  margin-top: 30px;
  word-spacing: .5rem;
}


.text-paragraph{
  font-weight: 500;
  text-align: justify;
  word-wrap: break-word;
  word-spacing: .5rem;
}

.text-paragraph-l1{
  color: white;
  font-weight: 800;
  margin: 15px 0px;
}

.button-container{
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem 0;
}

@media screen and (max-width:350px) {
  .text-hello{
    margin-bottom: 10px;
    font-size: 1.3rem;
  }
  .text-name{
    font-size: 2.1rem;
    line-height: 2rem;
  }
  .text-about{
    font-size: 1.5rem;
    line-height: 20px;
    text-align: left;
    min-height: 40px;
    margin-top: 20px;
  }
  .right{
    align-self: auto;
    padding: 10px;
  }
  .text-paragraph{
    font-size: 1.3rem;
    word-spacing: .3rem;
  }  .button-container{
    margin: -2rem 0rem 0rem 0px;
    padding-bottom: 0rem;
  }
}
@media only screen and (min-width: 350px) {
  .text-hello{
    margin-bottom: 15px;
    font-size: 1.3rem;
  }
  .text-name{
    font-size: 2.6rem;
    line-height: 2.5rem;
  }
  .text-about{
    font-size: 1.7rem;
    line-height: 20px;
    text-align: left;
    min-height: 40px;
    margin-top: 20px;
  }
  .right{
    align-self: auto;
    padding: 0px;
  }
  .text-paragraph{
    font-size: 1.3rem;
    line-height: 1.4rem;
    word-spacing: .1rem;
  }
  .button-container{
    margin: -1rem 0rem 0rem 0px;
    padding-bottom: 0rem;
  }
}

@media only screen and (max-width: 430px) {
  .button-container{
    flex-direction: column;
  }
  }

  @media only screen and (min-width: 500px) {
    .text-hello{
      margin-bottom: 15px;
      font-size: 1.5rem;
    }
    .text-name{
      font-size: 3rem;
      line-height: 3rem;
      word-spacing: .3rem;
    }
    .text-about{
      font-size: 2rem;
      line-height: 20px;
      text-align: left;
      min-height: 40px;
      margin-top: 20px;
    }
    .right{
      align-self: auto;
      padding: 10px;
    }
    .text-paragraph{
      font-size: 1.5rem;
      line-height: 1.5rem;
      word-spacing: .1rem;
    }
  }


@media only screen and (min-width: 681px) {
  .text-hello{
    margin-bottom: 15px;
    font-size: 1.8rem;
  }
  .text-name{
    font-size: 3.3rem;
    line-height: 3.3rem;
    word-spacing: .5rem;
  }
  .text-about{
    font-size: 2.4rem;
    line-height: 2.4rem;
    text-align: left;
    min-height: 40px;
    margin-top: 20px;
  }
  .right{
    padding: 60px;
  }
  .text-paragraph{
    font-size: 1.8rem;
    line-height: 1.8rem;
    word-spacing: .3rem;
  }
  .button-container{
    margin: -1rem 0rem 0rem 0px;
    padding-bottom: 0rem;
  }
}

@media only screen and (min-width: 992px) {
  .text-hello{
    margin-bottom: 15px;
    font-size: 1.7rem;
  }
  .text-name{
    font-size: 3.3rem;
    line-height: 3.3rem;
    word-spacing: .5rem;
  }
  .text-about{
    font-size: 2.3rem;
    line-height: 2.3rem;
    text-align: left;
    min-height: 40px;
    margin-top: 10px;
  }
  .right{
    padding: 0px;
    align-self: center;
  }
  .text-paragraph{
    font-size: 1.7rem;
    line-height: 1.7rem;
    word-spacing: .2rem;
  }
  .button-container{
    margin: -1rem 0rem 0rem 0px;
    padding-bottom: 0rem;
  }
}

@media only screen and (min-width: 1200px) {
  .text-hello{
    margin-bottom: 15px;
    font-size: 1.8rem;
  }
  .text-name{
    font-size: 4.5rem;
    line-height: 5rem;
    word-spacing: 1rem;
  }
  .text-about{
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: left;
    min-height: 40px;
    margin-top: 0px;
  }
  .right{
    padding: 0px;
    align-self: center;
  }
  .text-paragraph{
    font-size: 1.8rem;
    line-height: 1.8rem;
    word-spacing: .3rem;
  }
  .button-container{
    margin: 0rem 0rem 0rem 0px;
    padding-bottom: 0rem;
  }
}
