.split-text{
  display: block;
  font-family: 'Alegreya Sans', sans-serif;
  
}

.text-name{
  text-transform: uppercase;
  font-weight: 700;
}


.text-hello{
  word-spacing: .5rem;
}

.text-about{
  margin-top: 30px;
  word-spacing: .5rem;
}


.text-paragraph{

  font-weight: 500;
  text-align: justify;
  word-wrap: break-word;
  word-spacing: .5rem;
}

.text-paragraph-l1{
  color: white;
  font-weight: 800;
  margin: 15px 0px;
}

.button-container{
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem 0;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 430px) {
.button-container{
  flex-direction: column;
}
}

// @media screen and (max-width:740px) {
//   .right{
//     padding: 0px;
//   }
//   .text-name{
//     font-size: 2rem;
//     line-height: 2.5rem;
//   }

//   .text-hello{
//     font-size: 1rem;
//     line-height: 1.5rem;
//   }

//   .text-about{
//     font-size: 1.5rem;
//     line-height: 2rem;
//   }
//   .text-paragraph{
//     font-size: 1.5rem;
//   }
 
 
// }


@media screen and (max-width:350px) {
  .text-hello{
    margin-bottom: 10px;
  }
  .text-name{
    line-height: 25px;
  }
  .right{
    display: none;
  }
  .text-about{
    line-height: 20px;
    text-align: left;
    min-height: 40px;
    margin-top: 20px;
  }
  .text-paragraph{
    word-spacing: .3rem;
  }
  
.button-container{
  margin: 3rem 0px;
}
}
@media only screen and (min-width: 350px) {
  .right{
    // display: none;
    padding: 0
  }
  .button-container{
    margin: 3rem 0px;
  }
}

@media only screen and (min-width: 740px) {
  .right{
    display: block;
  }
  .text-hello{
    font-size: 1.8rem;
  }
  .text-name{
    font-size: 3rem;
    line-height: 3rem;
  }
  .text-about{
    margin-top: 20px;
    font-size: 2rem;
  }
  .text-paragraph{
    font-size: 2rem;
    line-height: 2rem;
  }
  .button-container{
    margin: 3rem 0px;
  }
}

@media only screen and (min-width: 992px) {
  .right{
    padding: 60px;
  }
  .text-hello{
    font-size: 1.8rem;
  }
  .text-name{
    font-size: 3rem;
    line-height: 3rem;
  }
  .text-about{
    margin-top: 20px;
    font-size: 2rem;
    // line-height: 30px;
  }
  .text-paragraph{
    font-size: 1.8rem;
  }
  .button-container{
    margin: 3rem 0px;
  }
}

@media only screen and (min-width: 1200px) {
  .right{
    padding: 0;
  }
  .text-hello{
    font-size: 2rem;
    line-height: 4rem;
  }
  .text-name{
  font-size: 5rem;
  line-height: 4.5rem;
  }
  .text-about{
    margin-top: 30px;
    
  font-size: 3rem;
  line-height: 5rem;
    // line-height: 30px;
  }
  .text-paragraph{
    font-size: 2rem;
    line-height: 2rem;
  }
  .button-container{
    margin: 20px 0px;
  }
}
